    *{
        box-sizing: border-box;
        margin: 0px;
        padding: 0px;
    }
    html{
        font-size: 62.5%;
    }
    body{
        align-items: center;
        background-color: #fff;
        display: flex;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        height: 100vh;
        justify-content: center;
        width: 100%;
    }
    .container{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: 40% 8% 1fr;
    height: 100%;
    width: 100%;
     background: repeating-linear-gradient(rgb(6, 124, 202),rgb(39, 90, 220) );;
    }
    .buttons{
    align-items: center;
    display: grid;
    gap: 2px;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(5,1fr);
    justify-items: center;
    user-select: none;
    }
  .buttons >button{
     font-family: 'Times New Roman', Times, serif;
     font-weight: 900;
    border-radius: 8px;
    border:2px solid #fff;
    box-shadow: 20px 20px 5px #aba9a9,-20px -20px 65px #d2cfcf;
    font-size:3rem;
    height: 100%;
    width: 100%;
    }
    button:active{
       box-shadow: 1px 1px 10px #eee6e6,-1px -1px 5px #c7bfbf;
     background-color: #c7bfbf;

    }
    button:disabled{
        background-color:#ffff;
        color: #fff;
    }
    .screen{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 1rem;
    border-radius: 8px;

    }
    .result{
    align-items: center;
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    font-size: 2rem;
    justify-content: flex-end;
    padding: 1rem;
    text-align: right;       
    width: 99%;
    color: #1f0edc;
    }
    input{
    width: 98%;
    height: 25%;
    font-size: 3rem;
    display: flex;
    text-align: right;       
    padding: 1rem;     
    align-self: center;
    border: none;
    }
    .control, .result, .screen,input{
    background-color: #dbd5d5;
    
    }
    .off,.on{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px; 
    }
    input[radio]{
        width: 60px;
        height: 60px;
    }
    .buttons button:last-child{
        background-color: green;
        border-color: green;
    }
.control{
    align-items: center;
    color: #333;
    display: flex;
    font-size: 2.5em;
    gap: 15px;
    justify-content: end;
    padding-right: 50px;
}