    *{
        box-sizing: border-box;
        margin: 0px;
        padding: 0px;
    }
    html{
        font-size: 62.5%;
    }
    body{
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100vh;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        align-items: center;
    background-color: #fff;

    }
    .container{
    width: 100%;
    display: grid;
    grid-template-rows: 40% 8% 1fr;
    grid-template-columns: repeat(1,1fr);
    height: 100%;
  background: repeating-linear-gradient(rgb(4, 0, 255),yellow );;


    }
    .buttons{

    display: grid;
    grid-template-rows: repeat(5,1fr);
    grid-template-columns: repeat(4,1fr);
    gap: 5px;
    padding: 5px;
    background:repeating-radial-gradient(blue,red,yellow 10%);
    justify-items: center;
    align-items: center;
    font-size: 2rem;
    user-select: none;
    }
    .buttons >button{
    border-radius: 8px;
    width: 100%;
    height: 100%;
    /* background-color: #ffffff; */
    /* border: 2px #9ca5ae solid; */
    border:2px solid #fff;
    font-size: 2rem;
    box-shadow: 20px 20px 5px #aba9a9,-20px -20px 65px #d2cfcf;
     
    }
    button:active{
       box-shadow: 1px 1px 10px #eee6e6,-1px -1px 5px #c7bfbf;
       /* background-color: #dbcccc; */
     background:repeating-radial-gradient(#6d2ea8,#8a2be2  10%);

    }
    button:disabled{
        background-color:#ffff;
        color: #fff;
    }

    .screen{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 2px blueviolet solid;
    margin: 1rem;
    border-radius: 8px;

    }
    .result{
    align-items: center;
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    font-size: 2rem;
    justify-content: flex-end;
    padding: 1rem;
    text-align: right;       
    width: 99%;
    }
    input{
    width: 98%;
    height: 25%;
    font-size: 3rem;
    display: flex;
    text-align: right;       
    padding: 1rem;     
    align-self: center;
    border: none;
    }
    .control, .result, .screen,input{
    background-color: #dbd5d5;
    
    }
    .control{
        display: flex;
        /* height: 50px; */
       align-items: center;
        gap: 15px;
        font-size: 2rem;
        padding-right: 50px;
        justify-content: end;
    }
    .off,.on{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        
    }
    input[radio]{
        width: 20px;
        height: 20px;

    }